.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px 0 20px;
    gap: 16px;
}

.pagination svg {
    width: 28px;
    width: 28px;
}

.pagination button {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 1px solid #B7B7B7;
}

.pagination button.active {
    border: none;
    background: linear-gradient(141deg, #FFC226 9.4%, #F84119 91.91%);
}

.pagination .dots {
    pointer-events: none;
}

.arrowBtn {
    cursor: pointer;
}